@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Thin";
  src: local("Lato-Thin"), url(./fonts/Lato-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Semibold";
  src: local("Lato-Semibold"), url(./fonts/Lato-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url(./fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato-Black";
  src: local("Lato-Black"), url(./fonts/Lato-Black.ttf) format("truetype");
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: "Lato";
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

html,
body,
div#root {
  height: 100%;
  width: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.link:hover {
  cursor: pointer;
}
